@model IEnumerable<Core.Entities.Owner>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<div style="padding:160px;">
    <h1>Index</h1>

    @*<p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                   Full Name
                </th>
                <th>
                    Profile
                </th>
                <th>
                  Avatar
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profil)
                    </td>
                    <td>
                        <img src="~/img/@item.Avatar" class="img-thumbnail" height="50" width="50" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> @*|
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>